altair==6.1.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
attrs==26.1.0
blinker==1.9.0
cachetools==7.1.4
catboost==1.2.10
certifi==2025.5.20
charset-normalizer==3.4.7
click==8.4.1
fastapi==0.136.3
graphviz==0.21
h11==0.16.0
httptools==0.7.1
idna==3.16
joblib==1.5.3
lightgbm==4.6.0
matplotlib==3.10.0
numpy==1.26.4
pandas==2.2.2
plotly==5.24.0
pydantic==2.13.4
python-multipart==0.0.29
requests==2.34.2
scikit-learn==1.4.2
scipy==1.11.4
seaborn==0.13.2
starlette==0.37.2
streamlit==1.57.0
uvicorn==0.30.0
xgboost==2.0.3